{% extends 'base.html.twig' %}

{% block stylesheets %}
    <script src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable({
                "pageLength": 20
            });
        } );
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pull request list</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Github User ID
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Created At
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pr in PullRequest %}
                            <tr>
                                <td>
                                    {{ pr.number }}
                                </td>
                                <td>
                                    <p>
                                    <a href="{{ pr.url }}" target="_blank">{{ pr.title }}</a> | <a href="{{ pr.getOriginalData.url }}" target="_blank">Api</a>
                                    </p>
                                        <a href="{{ pr.url }}/files" target="_blank">Changed files: {{ pr.getDetailData.changed_files }}</a>;
                                    <a href="{{ pr.url }}/commits" target="_blank">Commits: {{ pr.getDetailData.commits }}</a>;
                                        Comments: {{ pr.getDetailData.comments }};
                                        Review comments: {{ pr.getDetailData.review_comments }};
                                        Additions: {{ pr.getDetailData.additions }};
                                        Deletions: {{ pr.getDetailData.deletions }};
                                </td>
                                <td>
                                    <a href="https://github.com/{{ pr.getUserGithubLogin }}" target="_blank">{{ pr.getUserGithubLogin }}</a>
                                </td>
                                <td>
                                    {{ pr.state }}
                                </td>
                                <td>
                                    {#{{ pr.getPrCreatedAt|date_min }}#}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
